*{
    margin:0 ;
    padding: 0;
    text-decoration: none;
    font-size: 18px;   
}

h3
{
    color: #ff6a1f;
}
 body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.74); 
    z-index: 1; 
}

.content {
    position: absolute;
    z-index: 2; 
    color: rgb(255, 255, 255); 
    font-weight: 350;
}
body{
   background-image: url('images/bg1_image.png');
   background-repeat: no-repeat;
   background-size: 150%;
}


li{
    margin-left: 50px;
}
nav{
    margin-right: 0px;
    margin-bottom: 15px;
    height: auto;
    background-color:  #f73c01;
}
nav ul{
    float: right;
    margin-right: 20px;
}
.navlist li{
    display: inline-block;
    list-style: none; 
    line-height: 90px;  
}

.navlist a{
    color: white;
    font-size:17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

.navlist li.separator {
    color: black;
    font-weight: bolder;
    padding: 0 5px;
}

.navlist li a:hover{
    color: rgb(0, 0, 0);
}
.navlist li a:active{
    background-color: #c5c5c5;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 90px;
    padding: 0 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}
h3,p{
    margin-bottom: 15px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
footer{
    width: auto;
    background: #ce7a13;
    color: #fff;
    padding: 1rem 2rem;
  }

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.left-box{
    position: relative;
    float: right;
} 
.image{
    position: relative;
    float: right;
}

.socials i{
    letter-spacing: 15px;
    font-size: 20px;
    color: rgb(250, 241, 241);
}

.socials i:hover{
    color: rgb(8, 187, 252);
}